{% extends 'base.html' %}

{% block title %}
    Creacion de orden
{% endblock %}

{% block content %}
    <h1>Hola desde la creacion</h1>



    {% if form %}


    <form action="" method="POST">

        {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>



        <button type="sumbit">Crear orden</button>
    </form>
{% endif %}

{% if form_errors %}
    <h2>Errores</h2>
    {{form_errors}}
{% endif %}

{% if message %}
    {{message}}
{% endif %}

{% endblock %} 