{% extends 'base.html' %}

{% block title %}
    Quienes somos
{% endblock %}

{% block content %}
<div class="mx-auto border-bottom py-4 text-center" style="width: 500px">
    <h1>Bienvenidos a ENEAKIOSCO</h1>
</div>

<p class="mx-auto border border-dark p-4 text-center" style="width: 500px">
    Somos una familia emprendedora, que nos dedicamos a la venta de
    golosinas gaseosas al menor y por mayor! Desde lo mas economico hasta lo mas premium y de calidad
    Estamos al servicio de la comunidad, y poder brindarle los mejores productos a los clientes.
</p>
    <div class="mx-auto text-center" style="width: 500px">
    <a href="/products/list-product">
    <button class="btn btn-outline-primary">Ver los productos</button>
    </a></div>
{% endblock %} 